* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* usamos la speudo-clase :root, esta selecciona el elemento raiz del documento html */
:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 0px;
} /* van a ser nuestras variables por defecto, los usaremos en la img. */

/* css -- para usar la variable que hemos definido en la pseudoclase */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 40px;
  font-family: 'helvetica neue', sans-serif;
  background-color: #193549;
}

.JS {
  font-size: 40px;
  color: var(--base);
}
.title {
  font-size: 35px;
  color: white;
}
.title-h3 {
  font-size: 25px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.controls {
  margin-top: 50px;
  margin-bottom: 25px;
}
.label {
  color: white;
  font-size: 20px;
  /* margin-right: 5px; */
}
.btn {
  background-color: white;
  border-radius: 5px;
  height: 20px;
  background: #193549;
}

/* estilos para la decoración de los imputs */

input[type='range'] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 150px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 40%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

/* estilos para los botones de subir tu foto */
.profile__preview {
  height: 50px;
  width: 50px;
}

.profile__preview {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
}

.profile__preview {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
.action {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.profile-image {
  width: 700px;
  height: 500px;
  background-size: cover;
  border: solid var(--spacing);
  border-color: var(--base);
  filter: blur(var(--blur));
}
